$primar-color: hsl(50deg, 50%, 100%);
$textColor: #000;

.Quote{
    // width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
   

   .quoteCard {
     width: 80vw;
    max-width: 550px;
   min-height: 300px;
    background-color: $primar-color;
    color: $textColor;
       
   }
}