$primar-color: hsl(0, 92%, 50%);
$color: #fff;


body{
  background-color: $primar-color;
  height: 100vh;
  margin: 0;
  padding: 0;
  border-radius: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
 
  .App {
    color: $color;
      display: flex;
     justify-content: center;
       align-items: center;
      border: 0px solid green;
      // height:100vh;
  }
  
}